h1{
    text-align: center;
    color: rgb(175, 74, 74);
}
img.display{
    display: block;
    margin-left: auto;
    margin-right: auto 
}
body{
    margin: 10px;
    background-color: rgb(207, 194, 194);
}
img.dis{
    display: block;
    margin-left: auto;
    margin-right: auto 
}
